body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid-container {
    margin: 0;
    padding: 0;
    width: 800px; /* dont change */
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}
.pixels:hover {
    background-color: aliceblue;
}
.pixels {
    background-color: red;
}